:root {
    --black: #121212;
    --darkBlue: #19202D;
    --white: #FFFFFF;
    --grey100: #E7EAEE;
    --grey200: #CFCFCF;
    --grey400: #676D7E;
    --grey500: #48556A;
    --purple50: #EDE4FF;
    --purple300: #A775F1;
    --purple500: #733FC8;
}

/* Mobile Styles */

*{
    margin: 0;
}

/* -- Typography -- */
html{
    background-color: #F6F5F6;
    font-size: 13px;
}

.card1{
    background-color: var(--purple500);
    color: var(--white);
}
.card1 .card-quote{
    color: var(--purple50);
}

.card1 img{
    border: 2px solid var(--purple300);
}

.card2{
    background-color: var(--grey500);
    color: white;
}

.card2 .user .card-role{
    color: var(--grey200);
}

.card2 .card-quote{
    color: var(--grey100);
}

.card3{
    background-color: var(--white);
    color: var(--grey500);
    
}

.card3 .user-info .card-role{
    color: var(--grey400);
}

.card3 .card-quote{
    color: var(--grey400);
}

.card4{
    background-color: var(--darkBlue);
    color: var(--white);
}

.card4 .card-review{
    color: var(--grey200);
}

.card4 .card-quote{
    color: var(--grey100);
}

.card4 img{
    border: 2px solid var(--purple300);
}


.card5{
    background-color: var(--white);
}

.card5 .user-info .card-name{
    color: var(--grey500);
}

.card5 .user-info .card-role{
    color: var(--grey400);
}

.card5 .card-review{
    color: var(--grey500);
}

.card5 .card-quote{
    color: var(--grey400);
}

.text-preset-1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.5385rem;
    line-height: 120%;
    font-weight: 600;
}

.text-preset-2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    line-height: 110%;
    font-weight: 500;
}

.text-preset-3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
}

.text-preset-4{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8461rem;
    line-height: 110%;
    font-weight: 500;
}

/* -- Layout -- */
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4615rem;
    justify-content: center;
    margin: 5.6154rem 2.6923rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.2307rem;
    padding: 2.4615rem;
    border-radius: 0.6154rem;
    box-shadow: 0 0.4615rem 1.5385rem rgba(0, 0, 0, 0.25);
}

.user{
    display: flex;
    gap: 1.3077rem;
}

.user img{
    width: 2.1538rem;
    border-radius: 50%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* -- Media Queries -- */
@media (min-width: 768px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        margin: 6.3846rem 4.6923rem 8.6923rem 4.6154rem;
    }

    .card1{
        grid-area: 1 / 1 / 2 / 3;
    }

    .card2{
        grid-area: 2 / 1 / 3 / 2; 
    }

    .card3{
        grid-area: 2 / 2 / 3 / 3;
    }

    .card4{
        grid-area: 3 / 1 / 4 / 3;
    }

    .card5{
        grid-area: 4 / 1 / 5 / 3;
    }
}

@media (min-width: 1440px) {
    main{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        margin: 17.6154rem 12.3846rem 16.7692rem 12.6923rem;
    }

    .card1{
        grid-area: 1 / 1 / 2 / 3;
    }

    .card2{
        grid-area: 1 / 3 / 2 / 4;
    }

    .card3{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .card4{
        grid-area: 2 / 2 / 3 / 4;
    }

    .card5{
        grid-area: 1 / 4 / 3 / 5;
    }
}